
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: "Montserrat", sans-serif;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  background-color: #4d808d;
}

.navegacion{
  /* position: relative; */
  display: flex;
  align-items: center;
}

select{
  margin: 5px;
  transition-duration: 0.5s;
  background-color: rgb(255, 255, 255);
  padding: 3px
}

select:hover{
  background-color: #ffffff;
}

.boton:hover{
  background-color: #609faf; /* Green */
}

.boton{
  text-decoration: none;
  color: white;
  font-size: large;
}

.ordenarcatalogo{
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  scale: 15vw;
}

.logo{
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.navBotones{
  width: fit-content;
  color: white;
  background-color: #4d808d;
  border-color: #4d808d;
  border: #4d808d;
  padding: 2px;
  margin: 0px 7px 0px 0px;
  transition-duration: 0.5s;
  z-index: 1;
}

.header.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 200px;
}

.products{
  padding: 10px 0;
  text-align: center;
}

.product-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 8px;
}

.product{
  background-color:white ;
  padding: 5px;
}

.products h2{
  color: #000000;
  font-family: "Merienda", cursive;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.nombrealt{
  color: #8b8b8b;
}

.precio{
  font-weight: 700;
  font-size: large;
}

.merienda-1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.montserrat-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 360px){
  .products{
    display: contents ;
  }

  .header{
  display: grid;
  align-items: center;
  padding: 1px;
  }
}

@media (max-width: 450px){
  .product-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  }

  .navegacion{
  position: relative;
  align-items: center;
}

  .navBotones{
    padding: 2px;
    margin: 2px;
    z-index: 1;
}

  .header{
  display: grid;
  align-items: center;
  padding: 1px;
  }

}




/* 
.producto{
  width: 200px;
  background-color: #dfffe6;
  
  border-color: #093a27;
  border-style: solid;
  padding-right: 10px;
  border-radius: 1%;
}

.contenedorProducto{
  overflow: hidden;
  width: 40vw;
  display: inline-block;
  display: inline-table;
}

.contenedorCatalogo{
  position: static;
  box-sizing:border-box;
  float: none;
  
} */





