h1{
font-family: cursive;
color: #108f7a;
font-size: 30px;
}

.label1{
  color: #000000;
  font-family: "M PLUS U", sans-serif;
  font-weight: 400;
  font-size: 20px;
}


.catalogo{
  width:300px;
  background-color: #dfffe6;
  
  /* border-color: #093a27;
  border-style: solid;
  padding-right: 10px;
  border-radius: 1%; */
}



/* div {
  background: #ccc;
  padding: 5px;
}
