h1{
font-family: 'Times New Roman', serif;
color: #034450;
font-size: 40px;
}

h2{
font-family: 'Times New Roman', serif;
color: #012253;
font-size: 30px;
}

.uk-container {
  display:flow-root;
  box-sizing:content-box;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px
}

menu {
  display: flex;
  flex-direction: column;

  & li {
    list-style-type: none;
  }
}

p {
  font-size: 30px;
}


mark {
  background: rgb(255, 141, 47);
}


/* div {
  background: #ccc;
  padding: 5px;
}
